<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
</head>
<body>
    <form action="/createseller" method="post">
        <input class="px-5 py-2 border-2 border-zinc-800 bg-slate-500 w-1/2 rounded-lg" name="bio" placeholder="bio" type="text">
        <input class="px-5 py-2 border-2 border-zinc-800 bg-slate-500 w-1/2 rounded-lg" name="qualification"  placeholder="qualification" type="text">
        <input class="px-5 py-2 border-2 border-zinc-800 bg-slate-500 w-1/2 rounded-lg" name="skills" placeholder="skills" type="text">
        <input class="px-5 py-2 border-2 border-zinc-800 bg-slate-500 w-1/2 rounded-lg" name="residence" placeholder="residence" type="text">
         
        <input class="bg-lime-500 w-1/4 rounded-lg" type="Submit" value="upload seller">
    </form>
</body>
</html>